<h3>
    {if $data.id_agreement}Edit{else}Add{/if} Agreement<hr>
</h3>
<form method="post" action="index.php?module=agreement&func={if $data.id_agreement}update{else}insert{/if}">
    <table >
        <tr>
            <td><b>Name:</b></td>
            <td><textarea cols="100" rows="20" name="agreement[name]" required>{$data.name}</textarea></td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="hidden" id="hide" name="id" value="{$data.id_agreement}">
                <input type="submit" value="Save" />
            </td>
        </tr>
    </table>
</form>
