<div class="col-7 card">
    <!---<form method="post">
        <h4>Show Rooms Available for Date : <input type="date" name="date" value="{$smarty.request.date}">
        <input type="submit" value="Show"></h4>
    </form>-->
    <div class="remark">Banquet Status for :: {$smarty.now|date_format:"%d-%m-%Y %H:%M %p"}</div>
    <div class="d-inline p-2">
        <span id="cal1" style="float:left; display:inline;">

        </span>
        <span id="cal2" style="float:right; display:inline;">

        </span>
        
    </div>
</div>
<script>
    function showdetails(room, date) {
        $.post("index.php?module=reservation&func=showguest", { room: room, date: date }, function (resp) {
            if (resp == "null") {
                json_data = "Some issue, while getting data from Server.";
            } else {
                data = JSON.parse(resp);
                json_data = "<table class='table table-bordered table-striped'>";
                for (i in data) {
                    json_data = json_data + "<tr><th>" + i.toUpperCase() + "</th><td>" + data[i] + "</td></tr>";
                }
                json_data = json_data + "</table>";
            }
            $(".modal-body").html(json_data);
            $('#myModal').modal('show');
        });
    }
cal_days_labels = ['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat'];
cal_months_labels = ['January', 'February', 'March', 'April',
                 'May', 'June', 'July', 'August', 'September',
                 'October', 'November', 'December'];
// these are the days of the week for each month, in order
cal_days_in_month = [31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31];

// this is the current date
cal_current_date = new Date();

function Calendar(month, year) {
    this.month = (isNaN(month) || month == null) ? cal_current_date.getMonth() : month;
    this.year = (isNaN(year) || year == null) ? cal_current_date.getFullYear() : year;
    this.html = '';
}


Calendar.prototype.generateHTML = function () {

    // get first day of month
    var firstDay = new Date((new Date().getFullYear(), 0, 1));
    //var firstDay = new Date(this.year, this.month, 1);
    var startingDay = firstDay.getDay();

    // find number of days in month
    var monthLength = cal_days_in_month[this.month];

    // compensate for leap year
    if (this.month == 1) { // February only!
        if ((this.year % 4 == 0 && this.year % 100 != 0) || this.year % 400 == 0) {
            monthLength = 29;
        }
    }

    // do the header
    var html = ""
    for(var cal=0; cal<3; cal++){
     var curr = new Date(this.year, (this.month+cal), 1);
     var startingDay = curr.getDay();
      var monthName = cal_months_labels[this.month+cal];
      var monthLength = cal_days_in_month[this.month+cal];
      html += '<table class="calendar-table">';
      html += '<tr><th colspan="7">';
      html += monthName + "&nbsp;" + this.year;
      html += '</th></tr>';
      html += '<tr class="calendar-header">';
      for (var i = 0; i <= 6; i++) {
          html += '<td class="calendar-header-day">';
          html += cal_days_labels[i];
          html += '</td>';
      }
      html += '</tr><tr>';

      // fill in the days
      var day = 1;
      // this loop is for is weeks (rows)
      for (var i = 0; i < 9; i++) {
          // this loop is for weekdays (cells)
          for (var j = 0; j <= 6; j++) {
              html += '<td class="calendar-day">';
              if (day <= monthLength && (i > 0 || j >= startingDay)) {
                  html += day;
                  day++;
              }
              html += '</td>';
          }
          // stop making rows if we've run out of days
          if (day > monthLength) {
              break;
          } else {
              html += '</tr><tr>';
          }
      }
      html += '</tr></table>';
    
    }//end of calendar loop

    this.html = html;
    
}

Calendar.prototype.getHTML = function () {
    return this.html;
}

var cal = new Calendar();
cal.generateHTML();
document.getElementById("cal1").innerHTML = cal.getHTML()
document.getElementById("cal2").innerHTML = cal.getHTML()

</script>
<style>
    .dirty {
        background-color: yellow;
        color: black;
        font-weight: bolder;
    }

    .occupy {
        background-color: red;
        color: white;
        font-weight: bolder;
    }

    .vacant {
        background-color: green;
        color: white;
        font-weight: bolder;
    }

    .block {
        background-color: grey;
        color: white;
        font-weight: bolder;
    }

    .reserve {
        background-color: blue;
        color: white;
        font-weight: bolder;
    }

    .remark {
        background-color: lightgrey;
        vertical-align: middle;
        vertical-align: center;
        font-size: x-large;
        text-align: center;
    }
</style>