<h4>Reason for Guest Registration Cancellation</h4>
<form method="post" action="index.php?module=reservation&func=cancel">
    <input type="hidden" name="id" value="{$smarty.request.id}">
    <input type="hidden" name="save" value="1">
    <table>
        <tr>
            <td colspan="2"><h4 class="text-danger">GST will be inclusive of 18% on the Refund amount.</h4></td>
        </tr>
        <tr>
            <td>You are cancelling Booking of :</td><td><b>{$rooms.0.name}</b> Dated : <b>{$rooms.0.date|date_format:'%d-%m-%Y'}</b></td>
        </tr>
        <tr>
            <td>Total Amount Paid :</td><td><b>{$rooms.0.amount_paid}</b></td>
        </tr>
        <tr>
            <td>Refund Date :</td><td><input type="date" required name="cancel_date"></td>
        </tr>
        <tr>
            <td>Refund Amount :</td><td><input type="text" required name="refund_amount"></td>
        </tr>
        <tr>
            <td>Reason :</td><td><textarea name="reason" required rows="6" cols="60"></textarea></td>
        </tr>
        <tr>
            <td colspan="2" class="text-center"><input type="submit" value="Save" class="btn btn-primary"></td>
        </tr>
    </table>
</form>