<table>
    <tr>
        <form method="post">
            <fieldset><legend><h3>Guest Booking Listing</h3></legend>
                <span>Start Date :<input id="start_date" type="date" name="start_date" value='{$smarty.request.start_date}' /></span>
                <span>End Date :<input id="end_date" type="date" name="end_date" value='{$smarty.request.end_date}' /></span>
                <span>
                    <input type="submit" value="Go" />
                    <input type="button" value="Reset" onclick="resetall();" />
                </span>
            </fieldset>
        </form>
    </tr>
</table>
<br>
<table id="dataTable" class="table" width="100%">
    <thead>    
        <tr>
            <th>#</th><th>No.</th><th>Type</th><th>Function</th><th>Date</th><th>Room</th><th>Days</th><th>Name</th>
            <th>Total</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {$s=1}
        {foreach from=$rooms item=mod}
        <tr>
            <td>{$s}{$s=$s+1}</td>			
            <td>{$mod.no}</td>
            <td>{$mod.type}</td>
            <td>{$mod.date|date_format:"%d-%m-%y"}</td>
            <td>{$mod.est_depature_date|date_format:"%d-%m-%y"}</td>
            <td>{$mod.roomnumber}</td>
            <td>{$mod.daysstay}</td>
            <td>{$mod.name}<br>{$mod.mobile}<br>{$mod.city}</td>
            <td>{$mod.total}</td>
            <td>
                {$my = "approve"|array_key_exists:$mod}
                {if $smarty.session.is_approve==1 && $my}
                    {if $mod.approve!=1}
                        <a title="Approve MR" href="index.php?module=reservation&func=approve&table=reservation&id={$mod.id_reservation}"><i class="fa fa-check fa-2x"></i></a>
                    {else}
                        <a title="Un-Approve MR" href="index.php?module=reservation&func=unapprove&table=reservation&id={$mod.id_reservation}"><i class="fa text-danger fa-close fa-2x"></i></a>
                    {/if}
                {/if}
                <a class="btn btn-success" href="index.php?module=reservation&func=printroom&id={$mod.id_reservation}" title="Print"><i class="fa fa-print"></i></a>
                {if $mod.approve!=1}
                <a class="btn btn-primary" href="index.php?module=reservation&func=checkin&id={$mod.id_reservation}" title="Edit Reservation"><i class="fa fa-edit"></i></a>
                <a class="btn btn-primary" href="index.php?module=reservation&func=addmr&id={$mod.id_reservation}" title="Add Money Receipt"><i class="fa fa-id-card"></i></a>
                <a class="btn btn-danger" onclick="return confirm('Do you want to Cancel this Booking?')" href='index.php?module=reservation&func=cancel&id={$mod.id_reservation}' title="Cancel Booking"><i class="fa fa-times"></i></a>
                {/if}
                <!-- <a class="btn btn-primary" href="index.php?module=reservation&func=addfood&id={$mod.id_reservation}" title="Add Food Bill"><i class="fa fa-cutlery"></i></a>
                <br>
                <a class="btn btn-primary" href="index.php?module=reservation&func=addother&id={$mod.id_reservation}" title="Add Laundry and other Bills"><i class="fa fa-shopping-bag"></i></a>
                {if $mod.billno}
                    <a class="btn btn-secondary" href="index.php?module=reservation&func=printroom&noother=1&id={$mod.id_reservation}" title="Only Room Bill Print"><i class="fa fa-print"></i></a>
                {else}
                    <a class="btn btn-primary" href="index.php?module=reservation&func=changeroom&id={$mod.id_reservation}" title="Change Room"><i class="fa fa-exchange"></i></a>
                {/if}
                {if $smarty.session.is_admin}
                    <a class="btn btn-success" href="index.php?module=reservation&func=editinfo&id={$mod.id_reservation}" title="Edit Other Info"><i class="fa fa-edit"></i></a>
                {/if} -->
            </td>
        </tr>
        {/foreach}
    </tbody>
</table>