<h4>Manage Backup & Download</h4>
{if $smarty.session.config.AUTOBACKUP==1}
    <h2 class="w-100 d-flex justify-content-center bg-danger text-white">Auto Backup is enabled for your software.</h2>
{/if}
<table class="table table-striped table-bordered" width="100%">
     <thead>
        <tr> 
            <th colspan="4"></th>
            <th><a title="Create Backup" href='index.php?module=util&func=backup'><i class="fa fa-hdd-o fa-2x"></i></a></th>
        </tr>
        <tr><th>Name</th><th>Date & Time</th><th>Size</th><th>Download</th><th>Delete</th></tr>
    </thead>
    {section name=x loop=$file}
    <tr>
        <td>{$file[x].filename}</td>
        <td>{$file[x].date}</td>
        <td>{$file[x].size}</td>
        <td><a title="Download Backup" href='index.php?module=util&func=download&id={$file[x].filename}'><i class="fa fa-download fa-2x"></i></a></td>
        <td>
            <a title="Delete Backup" href="index.php?module=util&func=delete&id={$file[x].filename}" onclick="return confirm('Do you want to delete?');"><i class="fa fa-trash fa-2x"></i></a>
        </td>
    </tr>
    {/section}
</table>