<h2>User Management</h2>
<table id="dataTable" class="table table-striped table-bordered" width="100%">
    <thead>
        <tr> 
            <th colspan="5">
                <select  id="list_status" onchange="update_listing('user', this.value);">
                    {html_options options=$ini.status_all selected=$smarty.request.status}
                </select>
            </th>
            <th><a title="Add User" href="index.php?module=user&func=edit"><i class="fa fa-plus fa-2x"></i></a></th>
        </tr>
        <tr>
            <th>Admin</th><th>User Name</th><th>Login</th><th>Password</th><th>Status</th><th>Manage</th>
        </tr>
    </thead>
    {foreach from=$user item=mod}
    <tr>
        <td>{if $mod.is_admin}Administrator{else}User{/if}</td>
        <td>{$mod.name}</td>
        <td>{$mod.user}</td>
        <td>{$mod.pass}</td>
        <td><select  onchange="update_status('user', '{$mod.id_user}', this.value, $('#list_status').val());">
                {html_options options=$ini.status selected=$mod.status}
            </select>
        </td>
        <td>
            <a title="Edit User" href="index.php?module=user&func=edit&id={$mod.id_user}"><i class="fa fa-edit fa-2x"></i></a>
            <a title="Delete User" href="index.php?module=delete&id={$mod.id_user}&ce=0" onclick="return confirm('Do you want to delete?');"><i class="fa fa-trash fa-2x"></i></a>            
            </a>
        </td>
    </tr>
    {/foreach}
</table>
